.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__week-container {
    display: flex;
    width: 100%;
    height: fit-content;
  }

  &__week {
    display: flex;
    flex: 1;
  }
  &__week-date {
    background-color: rgba(250, 230, 244, 0.308);

    border-radius: 10px;
  }
  &__current-day {
   color: rgb(247, 130, 4);
  }
  &__current-date {
    color: rgb(247, 130, 4);
  }
  &__time-scale {
  background-color:  rgba(253, 240, 219, 0.223);
  }
}
